body
{
    background: url('./bck.jpg');
    background-position: bottom ;
    background-attachment: fixed ;
    font-family:'Courier New',sans-serif;
    color: white;
}
.searchbar
{
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputfield
{
    outline: none;
}
.searchbarParentDiv
{
    width: 50%;
    height: fit-content;
    position: relative;
}
.inputfield
{
    width:100% ;
    border-radius: 25px;
    padding: 10px;
}
.searchIcon
{
    position: absolute;
    right: 10px;
    top: 5px;
}
.searchIcon:hover
{
    cursor: pointer;
}

.mainContentParentDiv
{
   height:90vh; 
   flex-direction: row;
}

.leftDiv
{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.leftChild
{
    background: rgba(212, 212, 212, 0.4);
    width: 85%;
    height: 40vh;
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(15px);

}
.rightChild
{
    background: rgba(212, 212, 212, 0.4);
    width: 85%;
    height: 45vh;
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(15px);
}
.currentTempDiv h6
{
    font-size: larger;

}
#cityName
{
    font-size: xx-large;
}
#cityTemp
{
    font-size: x-large;
}
.rightDiv
{
    width:70%;
    border: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#comingFiveDaysTitle
{
    font-size: xx-large;

}
.rightrow
{
  height: 27vh;  
  width: 100%;
}
.AQI
{
    background: rgba(212, 212, 212, 0.4);
    padding: 5% 2%;
    width: fit-content;
    border-radius: 15px;
    width: max-content;
    border-radius: 18px;
    align-items: center;
}
.extraMetric
{
    background: rgba(212, 212, 212, 0.4);
    padding: 5% 2%;
    width: fit-content;
    border-radius: 15px;
    align-items: center;
}
.rowTwoDiv
{
    background: rgba(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    width: 95%;
    height: 90%;
    border-radius: 20px;
}


@media  only screen and (max-width:767px)
{
    .leftDiv
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
    .rightDiv
    {
        width: 100%;

    }
    .mainContentParentDiv
    {
        height: 90vh;
        flex-direction: column;
    }
    .searchbar
    {
        width: 100%;
    }
    .searchbarParentDiv
    {
        width:85% ;
        height: fit-content;
        position: relative;
    }
    .rowOne
    {
       /* flex-direction: column; */
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
    }
    .rowTwo
    {
        flex-direction: column ;
    }
    .rowTwo
    {
        gap: 10px;
        height: 30vh;
    }
    .rowTwoDiv
    {
         background: rgba(212, 212, 212, 0.4);
         backdrop-filter: blur(15px);
         width: 85%;
         height: 85%;
         border-radius: 15px;
    }
    .rowThree
    {
        width: 85%;
        margin: auto;
    }

}